In [111]:
import numpy as np
import pandas as pd
import json
import sqlite3

conn = sqlite3.connect('parsed_links.sqlite')
cur = conn.cursor()

df = pd.read_sql_query('SELECT id, json FROM Urls', conn)

In [112]:
df['json'] = df['json'].str.replace("'", "\"")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   json    8 non-null      object
dtypes: int64(1), object(1)
memory usage: 260.0+ bytes

   id                                               json
0   1  {"Listing Number": "112504329", "Type of Prope...
1   2  {"Listing Number": "112461251", "Type of Prope...
2   3  {"Listing Number": "111946646", "Type of Prope...
3   4  {"Listing Number": "110692569", "Type of Prope...
4   5  {"Listing Number": "112564506", "Type of Prope...

In [113]:
# Define the function to normalize JSON data
def normalize_json(row):
    json_data = row['json']
    return pd.json_normalize(json_data, meta_prefix='', record_prefix='Listing Number_')

# Iterate over each row in the DataFrame and apply the function manually
for i, row in df.iterrows():
    normalized_data = normalize_json(row)
    df = pd.concat([df, normalized_data], axis=1)

df.head()

NotImplementedError:

In [ ]:
# Read JSON data from the SQLite database into a string
json_string = conn.execute('SELECT json FROM Urls').fetchone()[0]
print(json_string)
# TODO json is not being parsed to DB with double quotes
json_string = json_string.replace("'", "\"")

# Load JSON data from the string into a Python dictionary
json_data = json.loads(json_string)

# Create a DataFrame from the JSON data
df = pd.DataFrame.from_dict(json_data, orient='index')

# Transpose to rows
df.T.head()