In [1]:
import numpy as np
import pandas as pd
import json
import sqlite3

conn = sqlite3.connect('parsed_links.sqlite')
cur = conn.cursor()

df = pd.read_sql_query('SELECT id, json FROM Urls', conn)

- I think that the first step is going to be to extract json into something that I can use to create a master df of all the properties as rows 
- Will also need to be able to only pull out the important columns which are xxxx....

In [2]:
df['json'] = df['json'].str.replace("'", "\"")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   json    8 non-null      object
dtypes: int64(1), object(1)
memory usage: 260.0+ bytes

   id                                               json
0   1  {"Price": "R 3 500 000", "Blurb": "5 Bedroom H...
1   2  {"Price": "R 2 950 000", "Blurb": "2 Bedroom H...
2   3  {"Price": "R 3 495 000", "Blurb": "3 Bedroom H...
3   4  {"Price": "R 4 249 000", "Blurb": "4 Bedroom H...
4   5  {"Price": "R 4 900 000", "Blurb": "4 Bedroom H...

In [3]:
# Read JSON data from the SQLite database into a string
json_string = conn.execute('SELECT json FROM Urls').fetchone()[0]
print(json_string)
# TODO json is not being parsed to DB with double quotes
json_string = json_string.replace("'", "\"")

# Load JSON data from the string into a Python dictionary
json_data = json.loads(json_string)

# Create a DataFrame from the JSON data
df = pd.DataFrame.from_dict(json_data, orient='index')

# Transpose to rows
df.T.head()

{'Price': 'R 3 500 000', 'Blurb': '5 Bedroom House on auction in Vredehoek', 'Listing Number': '112504329', 'Type of Property': 'House', 'Lifestyle': 'Suburban', 'Listing Date': '03 April 2023', 'Erf Size': '375 m²', 'Rates and Taxes': 'R 5 100', 'Age': '94', 'Pets Allowed': 'Yes', 'Bedrooms': '5', 'Bathrooms': '3', 'Kitchen': 'Open Plan, Laundry, Stove, Extractor Fan, Dishwasher Connection, Granite Tops, Under Counter Oven', 'Office': '1', 'Rooms': 'Blinds, Veranda', 'Parking': '4', 'Garden': 'Yes', 'Style': 'Contemporary', 'Facing': 'North, East, Mountain View', 'Roof': 'Flat Roof', 'Wall': 'Face-brick', 'Window': 'Aluminium', 'Floor': 'Laminated Floors', 'Security': 'Perimeter Wall', 'Flatlet': 'Yes'}

,Price,Blurb,Listing Number,Type of Property,Lifestyle,Listing Date,Erf Size,Rates and Taxes,Age,Pets Allowed,...,Parking,Garden,Style,Facing,Roof,Wall,Window,Floor,Security,Flatlet
0,R 3 500 000,5 Bedroom House on auction in Vredehoek,112504329,House,Suburban,03 April 2023,375 m²,R 5 100,94,Yes,...,4,Yes,Contemporary,"North, East, Mountain View",Flat Roof,Face-brick,Aluminium,Laminated Floors,Perimeter Wall,Yes